* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFF;
    ;
}

.container {
    height: 600px;
    width: 1320px;
    flex-shrink: 0;
    background-image: url(styles/resources/Banner\ Image.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 50px 140px 140px;
}

.bg {
    background-color: #121212b3;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00)100%);
}

.con-text h4 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.con-text h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
}

.off-sec {
    width: 1600px;
    text-align: center;
    background-color: #FFF;
}

.container2 {
    margin: 0px 50px 196px 196px;

}

#off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#holi {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container2 h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container2 h1 {
    padding-bottom: 48px;
}

.party {
    background-image: url('styles/resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.container3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212b3;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    gap: 50px;
}

#party1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 25px;
    font-style: normal;
    font-weight: 50;
}

#party2 {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
}

.btn-join {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: #121212b3;
    margin-top: 20px;
}

.place {
    margin-top: 120px;
}

.place1 {
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cr {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}


.btn-or {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: #F00;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 0px;
    margin-top: 40px;
}

.offer {
    margin-top: 120px;
}

.offer1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.of-tex {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.of-tex2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.of-tex3 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
}

.of-ri {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.of-ri2 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 276px;
}

.gift {
    width: 1600px;
    /* height: 7335px; */
}

#p1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#p2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

#p3 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

}

.gift {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.img-dv {
    margin-top: 48px;
    flex-direction: column, row;
    gap: 20px;

}

.img1 {
    display: flex;
    gap: 20px;
}

.img2 {
    display: flex;
    gap: 20px;
}

.eml {
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 120px auto;
}

.eml-p1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.eml-p2 {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.form {
    width: 648px;
    height: 72px;
    border-radius: 50px;
    background: #FFF;
    margin: 30px auto;
    display: flex;
}

.form input {
    width: 648px;
    height: 72px;
    border-radius: 50px;
    background: #FFF;
    flex-grow: 1;
    border: none;
}

.form button {
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
}

#subs {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    text-transform: capitalize;
}

footer {
    background: #bab6c2;
    padding: 130px 200px;
    margin-top: 100px;
    display: flex;
}

.las-m {
    display: flex;
    
}

.social {
    align-items: center;
}

.lasR>p {
    text-align: right;
}